
@font-face {
  font-family: 'YouSheBiaoTi';
  src: url('@/assets/fonts/YouSheBiaoTi.ttf');
}

@font-face {
  font-family: 'Alibaba';
  src: url('@/assets/fonts/Alibaba-PuHuiTi-Regular.ttf');
}

@font-face {
  font-family: 'banner';
  src: url('@/assets/fonts/banner.ttf');
}

@font-face {
  font-family: 'Digital';
  src: url('@/assets/fonts/Digital.ttf');
}

@font-face {
  font-family: 'pmzd';
  src: url('@/assets/fonts/pmzd.ttf');
}

.icon {
  overflow: hidden;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
}
