p.menu-title {
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 15;
  padding: 0 10px;
  min-width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: #000;
  transform: translateX(-50%);

  span {
    font-size: 18px;
  }
}

.item-container {
  p.title {
    margin: 0;
    margin: 5px 0 5px 10px;
    padding-left: 40px;
    height: 30px;
    font-size: 16px;
    font-weight: bolder;
    font-weight: bold;
    line-height: 30px;
    color: #0ff;
    background: url('@/assets/images/sub-title-bg.png') no-repeat left center /auto 100%;
    text-shadow: 0 0 6px #0091ff;
  }
}

// 暗色系弹窗
.el-dialog.custom-dialog {
  border: 1px solid #2c5c8b;
  background-color: rgba(17, 34, 70, 0.9);

  .el-dialog__title {
    font-size: 18px;
    font-weight: 600;
    color: #54abff;
  }

  .el-dialog__headerbtn {
    font-size: 18px;
    font-weight: 600;

    .el-dialog__close {
      color: #54abff;
    }
  }

  .el-tree {
    color: #c1d8e9;
    background-color: transparent;

    .el-tree-node__content:hover {
      background-color: transparent;
    }

    .el-tree-node:focus > .el-tree-node__content {
      background-color: transparent;
    }
  }

  .el-tabs {
    display: flex;
    height: 100%;
    flex-flow: column;

    .el-tabs__nav.is-stretch {
      margin-left: 3%;
      min-width: 94%;
    }

    .el-tabs__item {
      color: #fff;

      &.is-active {
        color: #409eff;
      }
    }

    .el-tabs__header {
      height: 40px;
    }

    .el-tabs__content {
      overflow-x: hidden;
      overflow-y: auto;
      flex: 1;
    }
  }
}
// 客制化table样式
.el-table.custom-striped {
  color: #fff;
  background-color: transparent;

  tr,
  th {
    border: 0 !important;
    font-size: 14px;
    font-weight: 400;
    color: #c1d8e9;
    background-color: transparent !important;
  }

  tr.el-table__row--striped td.el-table__cell {
    background-color: rgba(17, 34, 70, 0.9);
  }

  td {
    border: 0 !important;
    color: #c1d8e9;
  }

  th {
    color: #97d0f5;
    background-color: rgba($color: #1260a2, $alpha: 0.35);
  }

  tr:hover {
    td {
      background-color: transparent !important;
    }
  }

  tr.el-table__row--striped:hover {
    td {
      background-color: rgba(17, 34, 70, 0.9) !important;
    }
  }

  .el-table__inner-wrapper::before {
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 0;
  }

  .el-loading-mask {
    background-color: rgba(17, 34, 70, 0.6) !important;
  }

  &::before {
    width: 0;
  }

  &::after {
    width: 0;
  }

  .el-table__border-left-patch {
    width: 0;
  }

  .el-table__inner-wrapper::after {
    height: 0;
  }
}
// 客制化分页
.el-pagination.custom-striped {
  position: absolute;
  right: 10px;
  bottom: 0;
  height: 50px;

  .el-pagination__total {
    color: #b8d7ff;
  }

  .el-input__wrapper {
    color: #b8d7ff;
    background-color: transparent;

    input {
      color: #b8d7ff;
    }

    .el-input__suffix {
      color: #b8d7ff;
    }
  }

  button {
    color: #b8d7ff;
    background-color: transparent;
  }

  li {
    color: #b8d7ff;
    background-color: transparent;

    &.is-active {
      color: #000;
      background-color: #ffce26;
    }
  }
}

// 时间空间左右按钮样式
.day-control {
  border: 0;
  width: 23px;
  height: 18px;
  color: #6bb6ff;
  background: rgba(26, 142, 255, 0.1);
  box-shadow: inset 0 0 6px 0 rgba(26, 153, 255, 0.74);
  border-radius: 3px;
}
// 时间选择器样式
.client-time-bar {
  padding: 0 10px;
  width: 115px !important;

  .el-input__wrapper {
    background-color: transparent;
    box-shadow: none;
  }

  .el-input__prefix {
    display: none;
  }

  .el-input__inner {
    width: 100px;
    font-size: 14px;
    font-weight: 600;
    color: #cdf0ff;
  }
}
// 数据表 统计表按钮统一样式
.el-button.tjb {
  margin-right: 10px;
  width: 65px;
  height: 29px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #6bb6ff;
  background: rgba(26, 142, 255, 0.1);
  box-shadow: inset 0 0 6px 0 rgba(26, 153, 255, 0.74);
  border-radius: 3px;
}

.right-aside {
  .el-button.tjb {
    margin-left: 35px;
  }
}

.echart-table {
  border: 1px solid #2c5c8b;
  background-color: rgba(17, 34, 70, 0.9);

  .el-dialog__title {
    font-size: 18px;
    font-weight: 600;
    color: #54abff;
  }

  .el-dialog__headerbtn {
    font-size: 18px;
    font-weight: 600;

    .el-dialog__close {
      color: #54abff;
    }
  }

  .el-dialog__body {
    overflow: auto;
    padding-top: 40px;
    height: 600px;

    .tabs-wrapper {
      position: relative;
      width: 100%;
      height: 100%;

      .el-button {
        position: absolute;
        top: -40px;
        right: 10px;
      }

      >div {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.iframe-dialog {
  .el-dialog__body {
    overflow: auto;
    padding-top: 20px;
    height: 800px;
  }
}
